name: Make

on: [push]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Make
      run: chmod +x ./Script/Setup.sh
    
    - name: Install required dependencies
       run: sudo apt install libxinerama-dev libxcursor-dev xorg-dev libglu1-mesa-dev 
    
    - name: Setup Premake
      # You may pin to the exact commit or the version.
      # uses: abel0b/setup-premake@8c96e76d62db4c5cbe7c16d7e5b80183534374c7
      uses: abel0b/setup-premake@v1

    - name: Setup Project
      run: ./Script/Setup.sh

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: make all